[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = iOS class project
[access "refs/*"]
	owner = group user/Miso Lubarda (misolubarda)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Miso Lubarda (misolubarda)
	label-Verified = -1..+1 group user/Miso Lubarda (misolubarda)
	push = group user/Miso Lubarda (misolubarda)
	read = group user/Miso Lubarda (misolubarda)
	rebase = group user/Miso Lubarda (misolubarda)
	removeReviewer = group user/Miso Lubarda (misolubarda)
	submit = group user/Miso Lubarda (misolubarda)
[access "refs/heads/*"]
	create = group user/Miso Lubarda (misolubarda)
	push = +force group user/Miso Lubarda (misolubarda)
	pushMerge = group user/Miso Lubarda (misolubarda)
	read = group user/Miso Lubarda (misolubarda)
[access "refs/tags/*"]
	push = group user/Miso Lubarda (misolubarda)
	push = +force group user/Miso Lubarda (misolubarda)
